@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

:root {
  /* font-size: 62.5%; */
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
  background-color: #000024;
}


.app-container {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
  /* background-color: red; */
}

.app-menu {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 42px 0;
}

.menu-header {
  display: flex;
  align-items: center;
}

.currency-logo {
  margin-right: 10px;
}

.menu-links {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: #fff;
}

.menu-item {
  margin-left: 20px;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  color: rgba(255, 255, 255, 0.7);
}

.menu-item:hover {
  color: #FF5100
}

.active-link{
  border-bottom: 2px solid #FF5100;
  padding-bottom: 6px;
  color: #fff
}

@media only screen and (max-width: 768px) {

  .app-menu {
    padding: 42px 60px;
  }

  .currency-logo {
    margin-right: 5px;
    width: 68px;
    height:68px;
  }

  .menu-links {
    font-size: 20px;
  }
}

@media only screen and (max-width: 480px) {

  .app-menu {
    padding: 38px 52px;
  }

  .currency-logo {
    margin-right: 5px;
    width: 48px;
    height:48px;
  }

  .menu-links {
    font-size: 12px;
  }

}