.content {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
  width: 1216px;
}

.content .div-title {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.content .text-wrapper {
  color: #ffffff;
  font-family: 'Roboto-Bold', Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44.8px;
  text-align: center;
}

.content .grid-cards,
.content .line {
  display: flex;
  gap: 32px;
}
.content .profit-info {
  color: #fff;

  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 21px */
}

.content .card,
.content .card-2,
.content .card-3 {
  display: flex;
  padding: 30px 36px;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  border-radius: 10px;
  border: 1px solid #fff;
}

.content .card {
  border-radius: 10px;
  border: 1px solid #fff;
  background-color: #4407bf;
}

.card-description {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  height: 77px;
}
.content .card-2 {
  border-radius: 10px;
  border: 1px solid #fff;
  background: #0f94c1;
}
.content .card-3 {
  border-radius: 10px;
  border: 1px solid #fff;
  background: #eb563a;
}

.content div,
.content p {
  color: #ffffff;
  font-family: 'Roboto-Regular', Helvetica, sans-serif;
  letter-spacing: 0;
}

.content div {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.content p {
  color: #ffffffbf;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  margin-right: 0;
  width: 364px;
}

.chart-placeholder {
  position: relative;
  height: 146px;
}
